@import '../../styles/init/variables';
.otpInput {
  display: flex;

  &__groupInput {
    position: relative;
    input {
      width: 3.2rem;
      height: 3.2rem;
      text-align: center;
      font-size: 1.6rem;
      outline: none;
      &::placeholder {
        width: 1.6rem;
        height: 1.6rem;
        background-color: $clr-neutral-20;
        user-select: none;
        position: absolute;
        bottom: 0;
        transform: translate(50%, 1%);
        border-radius: 100%;
      }
    }
  }
}

.bntOutline {
  font-family: $font-family-circular;
  color: $clr-primary-100;
  font-family: $font-family-circular;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  text-align: right;

  &:hover {
    color: darken($color: $clr-primary-100, $amount: 10);
  }
}

.groupInput {
  position: relative;
  margin-top: 1.4rem;
  &__myDatePicker {
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: $clr-neutral-5;
    input {
      height: 4.8rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding-top: 0.4rem;
      color: $clr-neutral-100;
    }
  }

  &__label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translate(10px, 2px);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $clr-neutral-40;
  }

  &__input {
    background-color: $clr-neutral-5;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border: none;
    border-radius: 0.8rem;
    height: 5.6rem;
    padding-top: 0.4rem;
  }

  &__textArea {
    background-color: $clr-neutral-5;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8rem;
    border: none;
    border-radius: 0.8rem;
    padding-top: 2rem;
  }
}

.mySelectionInput {
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 5.6rem;
  padding: 2rem 0;
  background-color: $clr-neutral-5;
  border-radius: 1rem;
}
.errors__message {
  width: 100%;
  margin: 1rem 0;
}
