.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  transition: overlay 10s ease-in-out;
  opacity: 0;
  z-index: 1000;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  &-show {
    opacity: 1 !important;
    transform: translateY(0);
  }
  &-notiShow {
    opacity: 0 !important;
    transform: translateY(0);
  }
}

.popup {
  z-index: 1001 !important;
  transform: translateY(0) !important;
  width: calc(100vw - 3.2rem) !important;
  right: 1.6rem !important;
  padding: 0 !important;
  bottom: 30px !important;
}
.closeModal-btn {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-detail {
  height: 100%;
  max-height: 100%;
  padding-bottom: 5rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  border-radius: 50px 50px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .btnGroup {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 5rem;
    width: 100%;
    bottom: 2rem;
    &-btn {
      display: flex;
      justify-content: center;
      border-radius: 50%;
      padding: 1.5rem;
      background-color: white;
      border: 1px solid #e5e5e5;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }

  &-avatar {
    min-height: 85%;
    height: 85%;
    object-fit: cover;
  }
  &-infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 4rem;

    &-name {
      font-weight: 700;
    }

    &-location {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem 0;
      gap: 0.7rem;
      &-distance {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    &-quote {
      background-color: $clr-neutral-5;
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 0.8rem;
      padding-top: 3rem;
      border-radius: 1.6rem;
      position: relative;
      &-openQuote {
        position: absolute;
        top: 25%;
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 3.2rem;
        font-family: $font-family-circular;
      }
    }

    &-detail {
      margin-top: 1.6rem;
      &-title {
        font-size: 1.4rem;
        color: $clr-neutral-60;
        margin-bottom: 1.6rem;
      }

      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-item {
          padding: 0.2rem 1.6rem 0.2rem 0.7rem;
          background-color: $clr-neutral-5;
          border-radius: 3.2rem;
          font-size: 1.4rem;
          font-weight: 700;
          display: flex;
          flex-direction: row;
          gap: 0.8rem;
          align-items: center;
          margin-right: 1.6rem;
          margin-bottom: 0.8rem;
          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }

    &-hobby {
      margin-top: 1.6rem;
      &-title {
        font-size: 1.4rem;
        color: $clr-neutral-60;
        margin-bottom: 1.6rem;
      }
      &-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &-item {
          padding: 0.175rem 1.8rem;
          border-radius: 3.2rem;
          font-size: 1.4rem;
          font-weight: 700;
          text-align: center;
          margin-right: 0.8rem;
          margin-bottom: 1.1rem;

          &:hover {
            background-color: #a78cfea3 !important;
          }
        }
      }
    }
  }
  &-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-item {
      width: 100%;
      object-fit: cover;
    }
  }
}
