@import '../../styles/init/variables';

.itemContentChat {
  display: flex;
  flex-direction: column;
  font-family: $font-family-circular;

  &__friend,
  &__you {
    margin-bottom: 1.6rem;
  }

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  &__contentFriend,
  &__contentYou {
    padding: 1rem 1.6rem;
  }

  &__contentYou {
    margin-top: 0.8rem;
    margin-left: 6.6rem;
    background-color: #7a56fe;
    border-radius: 2.4rem 0.4rem 2.4rem 2.4rem;
  }

  &__contentFriend {
    margin-right: 6.6rem;
    background-color: $clr-neutral-5;
    border-radius: 0.4rem 1.6rem 1.6rem 1.6rem;
  }

  &__textFriend,
  &__textYou {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &__textYou {
    color: $clr-neutral-0;
    overflow-wrap: break-word;
  }

  &__textFriend {
    color: #343e58;
  }

  &__imageYou,
  &__imageFriend {
    display: flex;
    align-items: center;
  }

  &__imageYou {
    justify-content: end;
  }

  &__imageFriend {
    justify-content: start;
  }

  &__image {
    border-radius: 1rem;
  }
}
