@import '../../../styles/init/variables';

.myButton {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: white;
  background-color: $clr-primary-90;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 13px;
}
