@mixin elementCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin body1 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
@mixin body2 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
