/* Variables Color */
$clr-neutral-100: #2a2846;
$clr-neutral-80: #55536b;
$clr-neutral-65: #7f7e90;
$clr-neutral-60: #7a838c;
$clr-neutral-40: #aaa9b5;
$clr-neutral-20: #d4d4da;
$clr-neutral-10: #eae9ed;
$clr-neutral-5: #f4f4f6;
$clr-neutral-0: #fff;

$clr-primary-100: #7a66c7;
$clr-primary-90: #7a56fe;
$clr-primary-80: #c5c2f3;
$clr-primary-65: #f9f9ff;

$clr-main: #7a56fe;

/* Variables Font Family */
$font-family-gilroy: 'SVN-Gilroy';
$font-family-circular: 'SVN-Circular';
