@import '../../styles/init/variables';

.profileFrame {
  padding: 0 16px;
  position: relative;

  &-settingInfo {
    margin-top: 32px;
  }

  &-info {
    margin-top: 16px;

    &-infoItems {
      display: grid;
      row-gap: 8px;
    }
  }

  &-hobby {
    padding: 8px 0;
    margin-top: 35px;
    padding-bottom: 131px;

    &-hobbyItems {
      display: flex;
      column-gap: 8px;
      row-gap: 10px;
      flex-wrap: wrap;
    }
  }

  &-card {
    transform: translateY(0) !important;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: $clr-neutral-40;
    transition: overlay 10s ease-in-out;
    opacity: 0;

    &-show {
      opacity: 0.5 !important;
    }
  }
}
