.headPage {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin: 0;
    font-weight: 700;
  }

  &__icon {
    padding: 10px;
    display: flex;
    align-items: center;
  }
}
