.itemContentMessage {
  &__left,
  &__right {
    display: flex;
    flex-shrink: 0;
  }

  &__left {
    margin-right: auto;
    padding-bottom: 1.5rem;
  }

  &__right {
    flex-direction: row-reverse;
    margin-left: auto;
  }

  &__body {
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__name {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
