.layout {
  position: relative;
  padding: 0 2rem;
  &__children {
    display: block;
  }

  &__alert {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
}
