@import '../../styles/init/variables';

.userAlbum {
  margin-top: 34px;

  &__image {
    border-radius: 8px;

    &__count {
      border-radius: 8px;
      position: relative;
      overflow: hidden;
    }

    &__count::after {
      position: absolute;
      content: '';
      background-color: $clr-neutral-80;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      opacity: 0.5;
      top: 0;
    }
  }

  &__remain {
    display: inline;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    margin: 0;
  }

  &__upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px $clr-neutral-20 dashed;
    border-radius: 8px;
    //height: calc((100vw - 62px) / 3);
    aspect-ratio: 1/1;

    &__icon {
      width: 50px;
      height: 50px;
    }
  }

  &__upload:hover {
    border-color: $clr-primary-100;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: $clr-neutral-40;
    opacity: 0.8;
  }

  &__swipper {
    position: fixed;
    width: 80vw;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 3;
  }
}
