.itemFriendChat {
  &__item {
    list-style: none;
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #e8eef1;
  }

  &__item:hover {
    background: #eff6f9;
  }

  &__avatar {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__img {
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }

  &__message {
    margin-left: 85px;
    font-size: 15px;
    color: #62748f;
  }

  &__heading {
    font-weight: 600;
    display: inline-block;
    color: #62748f;
    margin: 0 0 7px 0;
    padding: 0;
    width: 100%;
  }

  &__title {
    border-radius: 50px;
    line-height: 14px;
    color: #62748f;
    font-size: 20px;
    font-style: normal;
  }

  &__time {
    float: right;
  }

  &__text {
    margin: 0;
    padding: 0;
    line-height: 27px;
    font-size: 14px;
  }
}
