@import '../../styles/init/variables';

.settingInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  &-title {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 0;
    font-weight: 700;
    color: $clr-neutral-100;
  }

  &-content {
    color: $clr-neutral-65;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
  }

  &-icon {
    height: fit-content;
    padding: 8px;
    display: flex;
    justify-content: center;
  }
}
